

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Black.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}




@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: transparent;
    border: 1px solid #fff;
    font-size:18px;
    font-family: "ProximaNova";
    font-weight: normal!important;
    text-transform: uppercase;
    border-radius: 8px;
}


/*
 * Base structure
 */
.clear{
    clear: both;
}
html,
body {
    color: #fff;
    min-height: 100% !important;
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
    position: relative;
    border: 0;
}
body {
  background-color: #333;
}
.site-main-container {}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    margin:-1px;
    padding:1px;
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;


} 
.site-wrapper::before {
    margin:0;
    padding:0;
    display: block;
    content:" ";
    background: url(images/banner.png) no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in-out infinite;
    transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.site-wrapper-pattern-bg {
    margin:0;
    padding:0;
    display: block;
    background:rgba(0, 0, 0, 0.75) url(images/pattern.png);
    position: fixed;
    width: 100%;
    height: 100%;
}
.site-wrapper-inner {
    margin:0;
    padding:0;
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 100px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
    background: transparent;
}

/* Padding for spacing */
.inner {
    margin:0 auto;
    position: relative;
    
}

.mastfoot .inner {
    padding-top:3rem;
    border-top: 1px solid rgba(255,255,255,.2);
}

.logo a {
    width:100px;
    height:100px;
    display:block;
    margin:50px auto 50px auto;
    background: url(images/logo.svg) no-repeat
}
.lead {
    margin:100px auto 100px auto;
}
/*
 * Header
 */
.cover-heading {
    font-family: "ProximaNova";
    font-weight: bold;
    text-transform: uppercase;
    font-size:8em;
    line-height:0.9em;
}
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}




@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .55rem 1.9rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255,255,255,.5);
    margin:0 auto;
    width:100%!important;
    left:0px;
}


/*
 * Affix and center
 */
.store_buttons {
    width:100%;
}
@media (min-width: 0px) {
    .lead {
        margin:20px auto;
    }
    .cover-heading {
        font-size:2em;
        line-height:0.9em;
    }
    .icon-set ul li {
        margin: 0 10px!important;
    }
    .icon-set {
        width:100%;
        margin: 0 0;
        padding: 0
    }
    .site-wrapper-inner {
        padding-bottom: 320px
    }
    .store_buttons {
        width:254px;
        margin: 0 auto;
    }
    .btn-store  {
        float:auto;
        margin: 10px 0!important;
    }
  .site-wrapper-inner {
    vertical-align: middle;
  }
    .mastfoot .inner {
        margin: 0 0 20px 0;
    }
}
@media (min-width: 350px) {
    
    .lead {
        margin:40px auto;
    }
    .cover-heading {
        font-size:3em;
        line-height:0.9em;
    }
    .icon-set ul li {
        margin: 0 10px!important;
    }
    .icon-set {
        width:100%;
        margin: 0 0;
        padding: 0
    }
    .site-wrapper-inner {
        padding-bottom: 320px
    }
    .store_buttons {
        width:254px;
        margin: 0 auto;
    }
    .btn-store  {
        float:auto;
        margin: 10px 0!important;
    }
  .site-wrapper-inner {
    vertical-align: middle;
  }
    .mastfoot .inner {
        margin: 0 0 20px 0;
    }
}

@media (min-width: 425px) {
    .cover-heading {
        font-size:3.5em;
        line-height:0.9em;
    }
}

@media (min-width: 734px) {
    .lead {
        margin:100px auto;
    }
    .icon-set {
        width:520px;
        margin: 0 auto;
    }
    .cover-heading {
        font-size:6em;
        line-height:0.9em;
    }
    .icon-set ul li {
        margin: 0 30px!important;
    }
    .site-wrapper-inner {
        padding-bottom: 250px
    }
    .store_buttons {
        width:520px;
        margin: 0 auto;
    }
    .container {
        width:754px;
        margin:0 auto;
    }
  .site-wrapper-inner {
    vertical-align: middle;
  }
    .btn-store  {
        float:auto;
        margin: 0 0 50px 0!important;
    }
    .mastfoot .inner {
        margin: 0 80px 20px 80px;
    }
}

@media (min-width: 1120px) {
    .icon-set {
        width:auto;
        margin: 0 auto;
    }
    .cover-heading {
        font-size:6em;
        line-height:0.9em;
    }
    .site-wrapper-inner {
        padding-bottom: 130px
    }
    .store_buttons {
        width:100%;
        margin: 0 auto;
    }
    
    .cover-container {
        width:65em
    }
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
.mastfoot {
    position: absolute;
    bottom: 0;
}
.icon-set ul {
    padding: 0;
    margin-top:10px;
}
.icon-set ul li{
    display: inline-block;
    margin:0 30px 0 30px;
}

.fa {
    color: #fff;
}
.fa-lg {
    font-size:3em!important
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.app_store {
    background: url(images/app_store.svg) no-repeat;
    width:254px;
    height:76px;
    float:right;
}

.play_market {
    background: url(images/google_play.svg) no-repeat;
    width:254px;
    height:76px;
    float:left;
}

.btn-store {
    display: block;
    margin-bottom: 50px;
}



.zoominheader {
  width:400px;
  height:200px;
  text-align:center;
  background: url("https://2.bp.blogspot.com/-jV7dJqJnzAQ/V1tLFVCPw_I/AAAAAAAAJhk/EH40vG3VTZ4t7gn38pHKA0nW9RyI84OZwCK4B/s400-p/sts-min.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-repeat: repeat;
  position: relative;
}

/* The innermost element*/
.zoomoutheader {
  width:400px;
  height:200px;
  text-align:center;
  background: none;
  -webkit-animation: zoomout 10s ease-in infinite;
  animation: zoomout 10s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}



/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
    0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */
